version: '3.8'

services:
  umami-test-app:
    build:
      context: umami-test-app
      dockerfile: Dockerfile
    ports:
      - "3001:80"
    restart: unless-stopped
    container_name: umami-test-app
    environment:
      - NODE_ENV=production
      - VITE_UMAMI_WEBSITE_ID=${VITE_UMAMI_WEBSITE_ID}
      - VITE_UMAMI_SCRIPT_URL=${VITE_UMAMI_SRC:-http://localhost:3000/script.js}
  umami:
    image: ghcr.io/umami-software/umami:latest
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://umami:umami@db:5432/umami
      APP_SECRET: replace-me-with-a-random-string
    depends_on:
      db:
        condition: service_healthy
    init: true
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: umami
      POSTGRES_USER: umami
      POSTGRES_PASSWORD: umami
    volumes:
      - umami-db-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  umami-db-data: